<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Servey Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="contain">
        <div class="box">
            <h1>Dojo Survey</h1>
            <form action="/process" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name"><br>
                <label for="location">Dojo Location:</label>
                <select name="location"><br>
                    <option value="San Jose">San Jose</option>
                    <option value="Online">Online</option>
                    <option value="The Moon">The Moon</option>
                </select><br>
                <label for="lang">Favorite Language:</label>
                <select name="lang"><br>
                    <option value="Python">Python</option>
                    <option value="Javascript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                </select><br>
                <label for="comments">Comments (Optional)</label>
                <textarea name="comments"  cols="30" rows="10"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>